*,*::after,*::before {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(#2e3a6a,#2f0b45)
}

.container {
    padding: 15px;
    border: 4px #eec111 solid;
    border-radius: 10px;
    color: #ffff;
}

.input-area:focus {
    outline: none;
}

.input-area {
    border: 2px #aaaaaa solid;
    border-radius: 10px;
    background: none;
    height: 30px;
    width: 150px;
    padding: 5px;
    color: #ffffff;
    
}

textarea {
    border: 2px #aaaaaa solid;
    border-radius: 10px;
    background: none;
    color: #ffffff;
    width: 400px;
}

.button:focus {
    outline: none;
}
.button{
    height: 30px;
    border-radius: 5px;
    background: none;
    color: #ffff;

}

a {
    display: block;
    color: #ffff;
}

a:link {
    color: #ffffff;
    text-decoration: none;
    
}
